* {
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
}

#maingame {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#maingame .box {
    margin: 10px;
    width: 130px;
    height: 130px;
    background-color: blue;
    border-radius: 30px;
    background-size: cover;
    position: relative;
   
}
.box .front{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url('./img/codepen-logo.png');
    background-size: cover;
    
}

.box .back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
}