* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: 0;
    border: 0;


}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,html {
    width: 100%;
    height: 100%;
}

#maingame {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
}

#maingame .box {
    margin: 0.5vh;
    width: 11vh;
    height: 11vh;
    background-color: blue;
    border-radius: 30px;
    background-size: cover;
    position: relative;
   
}
.box .front{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
     background-image: url('./img/codepen-logo.png');
    background-size: cover;
    
}

.box .back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: none;
}


#mainstart {
    text-align: center;
}

.btn-start {
    position: absolute;
    top: 40%;
    left: 35%;
    padding: 5vw;
    background-color: rgb(41, 255, 58);
    outline: 0;
    border: 0;
    font-size: 5vw;
    border-radius: 36%;
}

#scr {
    margin-bottom: 12vh;
}

#scr .time {
    position: absolute;
    top: 4vh;
    font-size: 3vh;


}

#scr .fasttime {
    display: inline-block;
    position: absolute;
    top: 8vh;
    font-size: 3vh;
}

.btn-end {
    display: block;
    position: absolute;
    top: 3.8vh;
    right: 0;
    padding: 2vh;
    background-color: red;
    border: 0;
    border-radius: 20%;
    font-size: 2vh;
}

@media only screen and (min-width:800px){
    #maingame .box {

        width: 13vh;
        height: 13vh;

       
    }
}

@media only screen and (min-width:1000px){
    #maingame .box {

        width: 16vh;
        height: 16vh;

       
    }
}